
<div class="row">
  <div class="col-sm-6">


    <table class="table table-sm">
        <tbody>
            <tr class="thead-light">
              <th> Nombre</th>
                <td><%= @user.name %> <%= @user.lastname %></td>
            </tr>
            <tr class="thead-light">
              <th> Email</th>
                <td> <%= @user.email %></td>
            </tr>
        </tbody>
    </table>

  </div>

</div>
